// Colours
$background: #242424;

$calc-background: #171717;
$calc-screen-background: #18261C;
$calc-screen-shadow: #18CA1C;

$button-main: #626361;
$button-secondary: #FF9B28;

$font-main: #F4EDEB;

$focus-main: #5F92E8;